*{
    margin:0;
    padding:0;
}

#head{
    margin:0 auto;
    width:100%;
    height:auto;
    background-color: rgb(2,0,36);
    font-family:Arial, Helvetica, sans-serif;

}

.navigation{
    text-decoration: none;
    color:#de3c4b;
    font-weight: 800;
}

#home{
    float: left;
    font-size: 200%;
    margin:1%;
    margin-left:3%
}

.other{
    float: right;
    font-size: 125%;
    margin:1%;
}

.navigation :hover{
    text-decoration: none;
    color:#eeb4b3;
    font-weight: 800;
    transition:ease 0.5s;
}

#top{
    height:auto;
    background-color:rgb(2,0,36);

}

.logo{
    font-family:Arial, Helvetica, sans-serif;
}

.mell{
    color:#de3c4b;
    font-size: 700%;
    font-weight:900;
    margin-left:10%;
    text-align: center;
    word-spacing: -50px;
    text-shadow: 4px -4px 2px black;
    ;
}

.crafts{
    color: #eeb4b3;
    font-size: 650%;
    font-weight:900;
    text-align: center;
    margin-top:-95px;
    margin-left:10%;
    text-shadow: 4px -4px 2px black;
    ;
}

.container{
    background-color: rgb(2,0,36);
}
.row{
    display:flex;
    margin-left:5%;
    align-items: center;
}


.drawing{
    width:29%;
    height:100%;
    margin-left:2%;
    margin-top:3%;
    background: linear-gradient(180deg, #eeb4b3 60%, #de3c4b 100%);
    border-radius: 20%;
    text-align: center;
    color:white;
    font-family:Arial, Helvetica, sans-serif ;
}

.drawing:hover{
    transition: 1s;
    opacity: 2.0;
}

.drawing img{
    margin-top:10%;
    margin-bottom:10%;
    max-width: 80%;
}