*{
    margin:0;
    padding:0;
}

#head{
    margin:0 auto;
    width:100%;
    height:auto;
    background-color: rgb(2,0,36);
    font-family:Arial, Helvetica, sans-serif;


}

.navigation{
    text-decoration: none;
    color:#de3c4b;
    font-weight: 800;
}

#home{
    float: left;
    font-size: 200%;
    margin:1%;
    margin-left:3%
}

.other{
    float: right;
    font-size: 125%;
    margin:1%;
}

.navigation :hover{
    text-decoration: none;
    color:#eeb4b3;
    font-weight: 800;
    transition:ease 0.5s;
}

.mell{
    color:#de3c4b;
    font-size: 700%;
    font-weight:900;
    margin-left:10%;
    text-align: center;
    word-spacing: -50px;
    text-shadow: 4px -4px 2px black;
    ;
}

.crafts{
    color: #eeb4b3;
    font-size: 650%;
    font-weight:900;
    text-align: center;
    margin-top:-6.7%;
    margin-left:9%;

    text-shadow: 4px -4px 2px black;
    ;
}

#pfp{
    width:15%;
    margin:4%;
    margin-top:9%;
    border-radius: 50%;
    border:#eeb4b3 5px solid;
}

#top{
    height:auto;
    background-color:rgb(2,0,36);
}

#toptext{
    background-image: linear-gradient(90deg, rgba(238,180,179,1) 27%, rgba(222,60,75,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    width:20%;
    color:transparent;
    font-family:"Lucida Handwriting";
    float: right;
    margin-top:12%;
    margin-right:15%;
    font-size: 200%;
    word-spacing: 15px;
}

